.wallpaper{
    background-image: url(./gestione-libreria/v882batch2-kul-13.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.book-details{
    background-color:#f5f5f5;
}
